a:visited { 
    color: rgb(127, 83, 127);
}

h1 {
    text-align: center;
    margin: 10px;
    padding: 8px 8px 8px 8px;
}

p {
    font-size: .95em;
}

.intro {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: rgb(185, 185, 185);
    margin: 40px;
    padding: 8px 8px 8px 8px;
    background-color: rgb(224, 224, 224); 

}


/* Three columns side by side */
.column {
    float: left;
    width: 24.9%;
    min-width: 246px;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 850px) {
    .column {
        width: 33.3%;
        display: block;
    }
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
        display: block;
        
    }
}



/* Add some shadows to create a card effect */
.card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(224, 224, 224); 
}

.details {
    min-height: 110px;
}

.cardsContainer {
    padding: 18px 18px 18px 18px;
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
    
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    
}

.title {
    
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

.minColumn{
    min-width: 246px;
}

.aboutDevLinks {
    text-align: center
}