.LoginContainer {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px
}

.LoginContainer2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.LoginButton {
    margin-top: 15px;
}